<!DOCTYPE html>
<html>
    <head>
        <title>Greenhouse</title>
        <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2812/2812120.png" type="image/png">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <h1>Control Panel</h1>
            <div class="container">
                <div class="section">
                    <h2>🌡Temperature</h2>
                    <div class="box">
                        <p><span id="temp">--</span>°C</p>
                    </div>    
                </div>
                <div class="section">
                    <h2>        💧 Humidity</h2>
                    <div class="box">
                        <p><span id="hum">--</span>%</p>
                    </div>
                </div>
                <div class="section">
                    <h2>Soil Moisture</h2>
                    <div class="box">
                        <p><span id="soil">--</span></p>
                    </div>
                </div>
                <div class="section">
                    <h2>Light</h2>
                    <div class="box">
                        <p><span id="light">--</span></p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function update(){
                fetch('/data') // Response from Flask
                    .then(response=> response.json())
                    .then(data => {
                        document.getElementById('temp').innerText = data.temperature;
                        document.getElementById('hum').innerText = data.humidity;
                        document.getElementById('soil').innerText = data.soil;
                        document.getElementById('light').innerText = data.light;
                    });
            }
            setInterval(update, 5000);
            update();
        </script>
    </body>
    </html>